.App {
  background-color: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
}

.idle {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.playing {
  box-shadow: inset 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
